*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
 } 
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url(images/factory_back_8.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
/*
feuille de style pour une page d'en-tête de site web. 
Le code CSS supprime les marges et les rembourrages par défaut pour tous les éléments 
de la page (*), et définit un en-tête (".header") 
avec une hauteur minimale de 100vh (hauteur de l'écran), 
une largeur de 100%, une image de fond "banner.png" 
Le positionnement est relatif pour permettre d'ajouter des éléments 
supplémentaires dans l'en-tête si nécessaire.
*/

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #0e62c9;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.text-box h1{
  font-size: 62px;
  }

  .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    }

    .hero-btn {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      font-size: 13px;
      padding: 12px 34px;
      background: transparent;
      position: relative;
      cursor: pointer;

      }

      .hero-btn:hover {
        border: lpx solid #0e62c9;
        background: #0e62c9;
        transition: 1s;
        }

        
/* for smartphone icon bar-close display */
nav .fa {
  display: none;
    }

/* for smartphone menu display */
@media (max-width: 700px)  {
  .text-box h1{
    font-size: 20px;
    }

    .nav-links ul li {
      display:block ;
    }

    /* blue menu on right*/
    .nav-links{
      position:absolute ;
      background: #0e62c9;
      height: 100vh;
      width: 200px;
      top:0;
      right: 0;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }

nav .fa{
  display:block ;
  color: #fff;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
}

.nav-links ul{
  padding: 30px;
}

}

/*
créer un élément de navigation <nav> 
centré verticalement et affichant les éléments enfants horizontalement, 
avec un espacement égal entre eux et un rembourrage de 2% en haut et en bas 
et de 6% à gauche et à droite.

Le rembourrage (en anglais "padding") est utile pour créer de l'espace 
entre le contenu d'un élément et ses bordures, 
ajoute un rembourrage de 5% en haut et en bas et 10% à gauche et à droite.
*/

/* Nav Course */
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  transition: 0.5s;
}

.course-col:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
@media(max-width:700px){
  .row{
    flex-direction: column;
  }
}


/* Nav Campus */

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col{
  flex-basis:32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img{
  width: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background: rgba(6, 6, 96, 0.2);
  
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

/*  facilities  */

.facilities{
 width: 80%;
 margin: auto;
 text-align: center;
 padding-top: 100px;
}

.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
 }

 .facilities-col img{
  width: 100%;
  border-radius: 10px;
 }

 .facilities-col p{
  padding: 0;
 }

 .facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
 }


 /*  testimonials  */

 .testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
 }

 .testimonials-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background:#fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonials-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
 }

 .testimonials-col p{
  padding: 0;
 }

 .testimonials-col h3{
  margin-top: 15px;
  text-align: left;
 }

 @media(max-width:700px){
  .testimonials-col img{
    margin-left: 0px;
    margin-right: 15px;
  }  
}


/* call to actions */
.cta{
 margin: 100px auto;
 width: 80%;
 background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner2.jpg);
 background-position: center;
 background-size: cover;
 border-radius: 10px;
 text-align: center;
 padding: 100px 0;
}

.cta h1{
color: #fff;
margin-bottom: 40px;
padding: 0;

}

media(max-width: 700px){
    .cta h1{
      font-size: 24px;
    }

}


/* footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
color: #4316d7;
margin: 0 13px;
cursor:pointer;
padding: 18px 0;
}

.fa-heart-o{
color: #f44336;

}

/* About us html page */

.sub-header{
  height: 25vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/factory_back_4.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  } 

  .sub-header h1{
    margin-top: 10px;
    } 
  
 .about-us{
      width: 80%;
      margin: auto;
      padding-top: 80px;
      padding-bottom: 50px;
      } 
    
 .about-col {
        flex-basis: 48%;
        padding: 38px 2px;
        } 
      
 .about-col img{
          width: 100%;
          } 

 .about-col h1{
            padding-top: 0;
            } 

 .about-col p{
              padding: 15px 0 25px;
              } 

.blue-btn {
                border: lpx solid #0e62c9;
                background: transparent;
                color: #0e62c9;
            } 
  
.blue-btn:hover{
              color: #fff;
          } 
            
         
     
      /* Tutos html page */

.heading {
  color: #777;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container .main-video {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}

.container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container .main-video .title {
  color: #0e62c9;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-list {
  background: #fff;
  border-radius: 5px;
  padding: 10px; /* Réduisez cette valeur pour ajuster la taille de la liste de vidéos */
  overflow-y: scroll;
}

.container .video-list .vid .thumbnail {
  width: 100px; /* Ajustez cette valeur en fonction de la taille souhaitée */
  height: auto;
}

.container .video-list::-webkit-scrollbar {
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 100%;
  border-radius: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background: #ccc;
}

.container .video-list .vid.active {
  background: #0e62c9;
}
  
.container .video-list .vid.active .title{
  color: #fff;
}

.container .video-list .vid .title{
  color:#0e62c9;
  font-size: 17px;
}

@media (max-width:991px) {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 10px;
}
  
@media (max-width:768px) {
  grid-template-columns: 1fr;
  }
